spring:
  main:
    allow-circular-references: true
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
  datasource:
    username: root
    password: root.
    url: jdbc:mysql://localhost:3306/e_coteriedb
  flyway:
    baseline-on-migrate: true
  servlet:
    multipart:
      max-request-size: 15MB
      max-file-size: 15MB
server:
  port: 8090
  error:
    include-message: always
    include-binding-errors: always

user:
  image:
    path: /home/sultan/data/imageUsers

default:
  image:
    name: image.png

coterie:
  image:
    path: /home/sultan/data/imageCoteries